me: Backstage CI/CD

on:
  push:
    branches:
      - main

jobs:
  backstage-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.19.6
          cache: yarn

      - name: Enable Corepack and Yarn
        run: |
          corepack enable
          corepack prepare yarn@stable --activate
          yarn -v

      - name: Clone Backstage App
        run: |
          rm -rf backstage-app || true
          git clone --depth=1 https://github.com/Arshad-ai796/backstagetest.git backstage-app
          ls -l backstage-app

      - name: Copy App Into Workspace
        run: |
          rsync -av backstage-app/ $GITHUB_WORKSPACE/ --exclude=.git

      - name: Install Dependencies
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: false
        run: yarn install

      - name: Type Check
        run: yarn tsc

      - name: Build Backend
        run: yarn build:backend

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        run: docker build -f packages/backend/Dockerfile -t myorg/backstage-app:latest .

      - name: Save Docker Image
        run: docker save myorg/backstage-app:latest -o backstage-image.tar

      - name: Upload Docker Artifact
        uses: actions/upload-artifact@v4
        with:
          name: backstage-docker-image
          path: backstage-image.tar

