name: Build & Deploy Backstage

on:
  push:
    branches:
      - main

permissions:
  contents: write
  packages: write

jobs:
  build-backstage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
  #      with:
  #        token: ${{ secrets.PAT_TOKEN }}
  #        fetch-depth: 0

      - name: Setup Node.js 20.18.1
        uses: actions/setup-node@v4
        with:
          node-version: '20.18.1'

      - name: Enable Corepack
        run: corepack enable

      - name: Create Backstage App with Skip Install
        run: |
          echo "backstage-app" | npx -y @backstage/create-app@latest --skip-install

      - name: Configure Yarn for CI
        working-directory: ./backstage-app
        run: |
          echo "enableImmutableInstalls: false" >> .yarnrc.yml

          cat .yarnrc.yml

      - name: Install Dependencies
        working-directory: ./backstage-app
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: false
          CI: false
          NODE_OPTIONS: --max-old-space-size=8192
        run: |
          yarn install --network-timeout 600000

      - name: Type Check
        working-directory: ./backstage-app
        run: yarn tsc

      - name: Build Backend
        working-directory: ./backstage-app
        run: yarn build:backend

      - name: Copy to Workspace Root
        run: |
          find . -mindepth 1 -maxdepth 1 ! -name '.git' ! -name 'backstage-app' -exec rm -rf {} +
          mv backstage-app/* .
          mv backstage-app/.* . 2>/dev/null || true
          rmdir backstage-app
